<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link"routerLink="/about" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
      
      <a (click)="goToSearch()" class="ico" > <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></a>
      
      <a *ngIf="check()" (click)="goToWishlist()" class="ico"> <fa-icon [icon]="['fas', 'heart']"></fa-icon></a>
      <a *ngIf="check()" (click)="goToCart()" class="ico"><fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon></a>
      <a *ngIf="check()" (click)="logout()" class="ico logout"><fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon></a>
     
     

      <!-- <button *ngIf="check()" class="btn btn-danger  mr-sm-2 ml-sm-2" (click)="logout()">Logout</button> -->
    </div>
  </nav>

